.layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 5em 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar content';
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: grid;
  grid-area: header;
  border-bottom: 1px solid gray;
}

.sidebar {
  display: grid;
  grid-area: sidebar;
  border-right: 1px solid gray;
}

.content {
  display: grid;
  grid-area: content;
  overflow: auto;
}
